/*

!/.github/
!/dev
!/.gitignore
!/README.md
!/docker-compose.yml
!/docker-compose.dev.yml
!/storage-rules
!/custom
!/migration
!project.json 
!/mail-templates
!/storage-rules
!/postgres
!Caddyfile

