{
    auto_https disable_redirects
}

(cors) {
	@origin header Origin {args.0}
	header @origin Access-Control-Allow-Origin "{args.0}"
	header @origin Access-Control-Request-Method GET
}

gql.weee.city:5432 {
  reverse_proxy * postgres:5432
}

api.weee.city {
  @not_jwk {
    not path /auth/jwks
  }
  reverse_proxy @not_jwk hasura-backend-plus:4000
}

api-dev.weee.city {
  @not_jwk {
    not path /auth/jwks
  }
  reverse_proxy @not_jwk hasura-backend-plus-dev:4000
}

api-local.weee.city {
  @not_jwk {
    not path /auth/jwks
  }
  reverse_proxy @not_jwk hasura-backend-plus-local:4000
}

gql.weee.city {
  reverse_proxy * hasura:8080
}

hasura-aws.weee.city {
  reverse_proxy * hasura:8080
}

tiles.weee.city {
  reverse_proxy * martin:3000
}

admin.weee.city {
  reverse_proxy * wcty-admin:4000
}