.InitiativeFab {
  position: absolute;
  right: 1rem;
  z-index: 5;
  background: #ffffff
}

.MenuFab {
  position: absolute;
  left: 1rem;
  z-index: 12;
  background: #ffffff;
}

.alert {
  position: absolute;
  top: 1rem;
  left: 1rem;
  max-width: 60%;
  z-index: 5;
}

.layersFab {
  position: absolute;
  top: 9rem;
  right: 1rem;
  z-index: 5;
  background: #ffffff
}

.locateFab {
  position: absolute;
  top: 5.5rem;
  right: 1rem;
  z-index: 5;
  background: #ffffff
}
